{% extends 'base.html.twig' %}

{% block title %}{{ mapName }}{% endblock %}

{% block body %}
   <div>
       {{ component('MapLive', {'mapName': mapName, 'height': height}) }}
   </div>
{% endblock %}
