{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% if hasMarkers == false %}
        <style>
            .map-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(5px);
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .overlay-text {
                background-color: rgba(255, 255, 255, 0.9);
                padding: 10px;
                border-radius: 5px;
                font-family: Arial, sans-serif;
                font-size: 18px;
                font-weight: bold;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    <div style="position: relative;">
        {{ ux_map(map, {style: 'height: ' ~ height ~ 'px;'}) }}
        {% if hasMarkers == false %}
            <div class="map-overlay">
                <div class="overlay-text">Aucune donnée de géolocalisation</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block additional_javascripts %}
    {% if hasMarkers %}
        <script>
            setTimeout(function () {
                window.location.reload();
            }, 5000);
        </script>
    {% endif %}
{% endblock %}
